@import '@fortawesome/fontawesome-free/css/all.css';

.ql-upload *, .ql-media *,
.ql-upload *::before, .ql-media *::before,
.ql-upload *::after, .ql-media *::after {
  box-sizing: border-box;
}

/* ==========================================================================
    QuillEditor UploadTool DropDownMenu
/* ========================================================================== */

.ql-toolbar.ql-snow .ql-picker.ql-upload > .ql-picker-label > svg,
.ql-toolbar.ql-snow button.ql-upload svg {
    display: none;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload > .ql-picker-label,
.ql-toolbar.ql-snow button.ql-upload {
    padding: 0 5px;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload.ql-expanded > .ql-picker-label {
    color: #888;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload > .ql-picker-label::before,
.ql-toolbar.ql-snow button.ql-upload::before,
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item::before {
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-weight: 900;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-options {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    min-width: 150px;
    padding: 0;
    margin: 2px 0 0;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-options .ql-picker-item {
    cursor: pointer;
    display: block;
    color: #777;
    font-weight: normal;
    line-height: 1em;
    white-space: nowrap;
    padding: 3px 20px;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-options .ql-picker-item:hover {
    background-color: #e1e3e9;
    color: #333;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item > span {
    margin-left: 10px;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item::before {
    display: inline-block;
    line-height: 20px;
    width: 20px;
}

.ql-toolbar.ql-snow .ql-picker.ql-upload > .ql-picker-label::before,
.ql-toolbar.ql-snow button.ql-upload::before,
.ql-snow .ql-picker.ql-upload .ql-picker-item::before {
    content: "\f0c6";
}

.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="media"]::before,
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="image"]::before {
    content: "\f03e";
    font-weight: 400;
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="audio"]::before {
    content: "\f028";
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="video"]::before {
    content: "\f03d";
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="file"]::before {
    content: "\f15b";
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="pdf"]::before {
    content: "\f1c1";
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="word"]::before {
    content: "\f1c2";
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="excel"]::before {
    content: "\f1c3";
}
.ql-toolbar.ql-snow .ql-picker.ql-upload .ql-picker-item[data-value="powerpoint"]::before {
    content: "\f1c4";
}

.ql-toolbar.ql-snow > .ql-editor .fa,
.ql-toolbar.ql-snow > .ql-editor .fas,
.ql-toolbar.ql-snow > .ql-editor .far,
.ql-toolbar.ql-snow > .ql-editor .fal,
.ql-toolbar.ql-snow > .ql-editor .fad,
.ql-toolbar.ql-snow > .ql-editor .fab {
    max-width: 100%;
}

/* ==========================================================================
    QuillEditor Media Icon
   ========================================================================== */

input.ql-mediauploader[type=file] {
  display: none;
}

span.ql-media a.ql-media-link {
    font-size: 0.8em;
    line-height: 1.1;
    text-decoration: none;
}

span.ql-media a.ql-media-link.ql-media-active div.ql-media-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

span.ql-media a.ql-media-link:not(.ql-media-active) {
    cursor: default;
}

span.ql-media div.ql-media-container {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    margin: 0.5px;
}

span.ql-media.ql-media-icon div.ql-media-container {
    width: 5em;
    padding: 0.4em 0 0.2em 0;
}

span.ql-media.ql-media-icon div.ql-media-container > i {
    color: #3c8dbc;
}

span.ql-media.ql-media-icon[data-type="audio"] div.ql-media-container > i {
    color: #f7a600;
}
span.ql-media.ql-media-icon[data-type="video"] div.ql-media-container > i {
    color: #527182;
}
span.ql-media.ql-media-icon[data-type="pdf"] div.ql-media-container > i {
    color: #ff0000;
}
span.ql-media.ql-media-icon[data-type="word"] div.ql-media-container > i {
    color: #2b579a;
}
span.ql-media.ql-media-icon[data-type="excel"] div.ql-media-container > i {
    color: #217346;
}
span.ql-media.ql-media-icon[data-type="powerpoint"] div.ql-media-container > i {
    color: #d24726;
}

span.ql-media.ql-media-icon div.ql-media-container > span.caption {
    font-size: 1.1em;
    display: inline-block;
    color: black;
    opacity: 0.8;
    padding-top: 0.3em;
    white-space: nowrap;
    overflow: hidden;
    width: 4em;
}

span.ql-media.ql-media-uploading div.ql-media-container > *:not(span) {
    filter: blur(0.5px);
    opacity: 0.5;
}

span.ql-media.ql-media-uploading div.ql-media-container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 0.3em solid #ccc;
    border-top-color: #1e986c;
    cursor: default;
    z-index: 1;
    -webkit-animation: spinner 0.6s linear infinite;
    animation: spinner 0.6s linear infinite;
}
span.ql-media.ql-media-icon.ql-media-uploading div.ql-media-container::before {
    width: 2.8em;
    height: 2.8em;
    margin-top: -1.7em;
    margin-left: -1.4em;
}
span.ql-media.ql-media-image.ql-media-uploading div.ql-media-container::before {
    width: 28px;
    height: 28px;
    margin-top: -14px;
    margin-left: -14px;
    border-width: 3px;
}
@keyframes spinner {
    to {
      transform: rotate(360deg);
    }
}

span.ql-media.ql-media-error div.ql-media-container::after {
    content: "\f06a";
    color: 	#bb2124;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    cursor: default;
    z-index: 1;
}

span.ql-media.ql-media-icon.ql-media-error div.ql-media-container::after {
    font-size: 2em;
    top: 0.05em;
    left: 0.05em;
}

span.ql-media.ql-media-image.ql-media-error div.ql-media-container::after {
    font-size: 20px;
    top: -5px;
    right: -3px;
}
